<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AtomSite.Repository.Properties.Settings.BlogSvcConnectionString" connectionString="Data Source=localhost;Initial Catalog=BlogSvc;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
