

/* grey color scheme */

.block h3.title,.block h3.title span,.block .block-div,.block .block-div-arrow{background-image:url(../../img/mystique/grey/block-title.png)}
.search-form #searchfield,.search-form input.submit{background-image:url(../../img/mystique/grey/search.png) !important;}
li.comment .comment-head{background-image:url(../../img/mystique/grey/comment-head.png) !important;}
li.comment .comment-head.comment-author-admin,li.comment .comment-head.bypostauthor{background-color:#7b7b7b !important;}
.tabs-wrap{background-image:url(../../img/mystique/grey/tabs-bg.png) !important;}
.tabs li{background-image:url(../../img/mystique/grey/tabs-c.png) !important;}
.tabs li a{background-image:url(../../img/mystique/grey/tabs.png) !important;}
#site-title p.headline{color:#aaa !important;}
.altText{color:#999 !important;}
.tag-cloud a:hover,.block-widget_tag_cloud a:hover{background-color:#eee !important;}
