<?xml version="1.0" encoding="utf-8"?>
<service xmlns="http://www.w3.org/2007/app" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:svc="http://atomsite.net/info/Service" xmlns:file="http://atomsite.net/info/FileRepository" xmlns:plug="http://atomsite.net/info/Plugins" svc:theme="blue" xml:base="http://localhost:1333/" svc:type="Single">
  <!-- To authorize access to the entire site, add administrator Ids here. -->
  <svc:admin>Admin</svc:admin>
  <!-- Users are managed in the user.config file -->
  <workspace svc:default="true">
    <atom:title>example.com</atom:title>
    <atom:subtitle>The life and times of a blogger.</atom:subtitle>
    <!-- To authorize access to only this workspace, add author or contributor Ids here. -->
    <!--<svc:author>Author1</svc:author>-->
    <!--<svc:author>Author2</svc:author>-->
    <!--<svc:contributor>Contributor1</svc:contributor>-->
    <!--<svc:contributor>Contributor2</svc:contributor>-->
    <collection href="pages.atom" svc:dated="false" svc:ratingsOn="false" svc:bloggingOn="true" svc:default="false">
      <atom:title type="html">My Pages</atom:title>
      <atom:id>tag:example.com,2009:pages</atom:id>
      <categories fixed="no" />
    </collection>
    <collection href="media.atom" svc:visible="false" svc:syndicationOn="no" svc:default="false">
      <atom:title>My Media</atom:title>
      <atom:id>tag:example.com,2009:media</atom:id>
      <accept svc:ext="png">image/png</accept>
      <accept svc:ext="jpg">image/jpeg</accept>
      <accept svc:ext="gif">image/gif</accept>
    </collection>
    <collection href="files.atom" svc:dated="false" svc:annotationsOn="no" svc:visible="false" svc:syndicationOn="no">
      <atom:id>tag:example.com,2009:files</atom:id>
      <atom:title>Files</atom:title>
      <accept svc:ext="zip">application/zip</accept>
    </collection>
  </workspace>
  <!-- Default page setup, changes to this page will affect every page in every workspace, collection -->
  <svc:page width="doc2" template="yui-t6">
    <svc:area name="nav">
      <svc:include name="MenuWidget" />
      <svc:include name="BlogSearchWidget" />
    </svc:area>
    <svc:area name="foot">
      <svc:include name="AccountStatusWidget" />
    </svc:area>
  </svc:page>
  <svc:page name="AtomPubResource">
    <svc:area name="content">
      <svc:include name="AnnotateListWidget" />
    </svc:area>
  </svc:page>
  <svc:page name="BlogHome">
    <svc:area name="content">
      <svc:include name="BlogSummaryWidget">
        <svc:count>10</svc:count>
        <svc:id>tag:example.com,2009:blog</svc:id>
      </svc:include>
    </svc:area>
    <svc:area name="sidemid">
      <svc:include name="BlogEntrySimpleWidget">
        <svc:id>tag:example.com,2009:pages,About</svc:id>
      </svc:include>
      <svc:include name="BlogEntrySimpleWidget">
        <svc:id>tag:example.com,2009:pages,Blogroll</svc:id>
      </svc:include>
      <svc:include name="BlogRecentCommentsWidget">
        <svc:id>tag:example.com,2009:blog</svc:id>
      </svc:include>
    </svc:area>
  </svc:page>
  <svc:page name="BlogEntry">
    <svc:area name="sidetop">
      <svc:include name="RaterWidget" />
    </svc:area>
    <svc:area name="sidemid">
      <svc:include name="BlogCategoryCloudWidget">
        <svc:id>tag:example.com,2009:blog</svc:id>
      </svc:include>
      <svc:include name="BlogRecentWidget">
        <svc:id>tag:example.com,2009:blog</svc:id>
      </svc:include>
    </svc:area>
    <svc:area name="content">
      <svc:include name="BlogCommentsWidget" />
      <svc:include name="BlogAddCommentWidget" />
    </svc:area>
    <svc:area name="tail">
      <svc:include name="BlogTrackbackWidget" />
    </svc:area>
  </svc:page>
  <svc:page name="BlogListing">
    <svc:area name="sidemid">
      <svc:include name="BlogRecentWidget">
        <svc:id>tag:example.com,2009:blog</svc:id>
      </svc:include>
      <svc:include name="BlogArchiveWidget">
        <svc:id>tag:example.com,2009:blog</svc:id>
      </svc:include>
      <svc:include name="BlogCategoriesWidget">
        <svc:id>tag:example.com,2009:blog</svc:id>
      </svc:include>
    </svc:area>
  </svc:page>
  <svc:page name="AdminDashboard">
    <svc:area name="dashboardLeft">
      <svc:include name="AdminRightNowWidget" />
      <svc:include name="AdminRecentAnnotationsWidget" />
    </svc:area>
    <svc:area name="dashboardRight">
      <svc:include name="AdminQuickPubWidget" />
      <svc:include name="AdminPendingEntriesWidget" />
    </svc:area>
  </svc:page>
  <svc:page name="AdminSettingsEntireSite">
    <svc:area name="settingsLeft">
      <svc:include name="AdminWorkspacesWidget" />
    </svc:area>
    <svc:area name="settingsRight">
      <svc:include name="AdminAdministratorsWidget" />
    </svc:area>
  </svc:page>
  <svc:page name="AdminSettingsWorkspace">
    <svc:area name="settingsLeft">
      <svc:include name="AdminCollectionsWidget" />
    </svc:area>
    <svc:area name="settingsRight">
      <svc:include name="AdminPeopleWidget" />
    </svc:area>
  </svc:page>
  <svc:page name="AdminSettingsCollection">
    <svc:area name="settingsLeft">
      <svc:include name="AdminAcceptsWidget" />
    </svc:area>
    <svc:area name="settingsMiddle">
      <svc:include name="AdminCategoriesWidget" />
    </svc:area>
    <svc:area name="settingsRight">
      <svc:include name="AdminPeopleWidget" />
    </svc:area>
    <svc:area name="settingsTabs">
      <svc:include name="LiteralWidget">&lt;li&gt;&lt;a href="#blogSettings"&gt;Blog Settings&lt;/a&gt;&lt;/li&gt;</svc:include>
    </svc:area>
    <svc:area name="settingsPanes">
      <svc:include name="BlogSettingsWidget" />
    </svc:area>
  </svc:page>
  <svc:page name="AdminTools">
    <svc:area name="toolsTabs"></svc:area>
    <svc:area name="toolsImport">
      <svc:include name="BlogMLImportToolWidget" />
    </svc:area>
    <svc:area name="toolsExport">
      <svc:include name="BlogMLExportToolWidget" />
    </svc:area>
  </svc:page>
  <svc:page name="AdminEditEntry">
    <svc:area name="editEntryContent">
      <svc:include name="AdminCKEditorWidget" />
    </svc:area>
  </svc:page>
  <!-- Other pages/widgets can be customized here -->
  <svc:plugin type="AtomSite.Plugins.OpenIdPlugin.OpenIdPlugin, AtomSite.Plugins.OpenIdPlugin, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" status="NotInstalled" merit="0" />
  <svc:plugin type="AtomSite.WebCore.WizardPlugin, AtomSite.WebCore, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" merit="2147483647" status="Disabled" />
  <svc:plugin type="AtomSite.WebCore.AdminPlugin, AtomSite.WebCore, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" merit="100030" status="Enabled" />
  <svc:plugin type="AtomSite.WebCore.BlogPlugin, AtomSite.WebCore, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" merit="100020" status="Enabled" />
  <svc:plugin type="AtomSite.WebCore.AtomPubPlugin, AtomSite.WebCore, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" merit="100000" status="Enabled" />
  <svc:plugin type="AtomSite.WebCore.AnnotatePlugin, AtomSite.WebCore, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" merit="99990" status="Enabled" />
  <svc:plugin type="AtomSite.WebCore.AccountPlugin, AtomSite.WebCore, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" merit="99980" status="Enabled" />
  <svc:plugin type="AtomSite.WebCore.AssetPlugin, AtomSite.WebCore, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" status="Enabled" merit="0" />
  <svc:plugin type="AtomSite.Plugins.Rater.RaterPlugin, AtomSite.WebCore, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" status="Enabled" merit="0" />
  <svc:plugin type="AtomSite.WebCore.MenuPlugin, AtomSite.WebCore, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" status="Enabled" merit="0" />
  <svc:plugin type="AtomSite.WebCore.WidgetPlugin, AtomSite.WebCore, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" status="Enabled" merit="0" />
  <svc:plugin type="AtomSite.Plugins.BlogMLPlugin.BlogMLPlugin, AtomSite.WebCore, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" status="Enabled" merit="0" />
</service>