<?xml version="1.0" encoding="utf-8"?>
<service xmlns="http://www.w3.org/2007/app" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:svc="http://atomsite.net/info/Service" xmlns:file="http://atomsite.net/info/FileRepository" xmlns:plug="http://atomsite.net/info/Plugins" svc:theme="blue" svc:type="Single" xml:base="http://atomsitethemes.erikzaadi.com/">
    <!-- To authorize access to the entire site, add administrator Ids here. -->
    <svc:admin>erikzaadi</svc:admin>
    <!-- Users are managed in the user.config file -->
    <workspace svc:default="true">
        <atom:title>erikzaadi.com</atom:title>
        <atom:subtitle>AtomSite Themes</atom:subtitle>
        <!-- To authorize access to only this workspace, add author or contributor Ids here. -->
        <!--<svc:author>Author1</svc:author>-->
        <!--<svc:author>Author2</svc:author>-->
        <!--<svc:contributor>Contributor1</svc:contributor>-->
        <!--<svc:contributor>Contributor2</svc:contributor>-->
        <collection href="news.atom" svc:dated="false" svc:bloggingOn="true" svc:trackbacksOn="true" svc:annotationsOn="true" svc:visible="true" svc:syndicationOn="yes">
            <atom:title>News</atom:title>
            <atom:id>tag:erikzaadi.com,2010:news</atom:id>
            <!-- The service supports many of the same fields for a collection as specified for 
			a feed.  These fields will automatically get inherited by the feed. -->
            <atom:logo>img/default/logo.png</atom:logo>
            <atom:icon>img/default/icon.png</atom:icon>
            <!-- To authorize access to only this collection, add author or contributor Ids here. -->
            <categories fixed="no">
                <atom:category term="News" />
            </categories>
            <atom:subtitle>AtomSite Themes News</atom:subtitle>
            <svc:page name="BlogListing">
                <svc:area name="sidemid">
                    <svc:include name="BlogCategoriesWidget">
                        <svc:id>tag:erikzaadi.com,2010:news</svc:id>
                    </svc:include>
                    <svc:include name="BlogArchiveWidget">
                        <svc:id>tag:erikzaadi.com,2010:news</svc:id>
                    </svc:include>
                    <svc:include name="BlogRecentCommentsWidget">
                        <svc:id>tag:erikzaadi.com,2010:news</svc:id>
                    </svc:include>
                </svc:area>
            </svc:page>
            <svc:page name="BlogEntry">
                <svc:area name="sidemid">
                    <svc:include name="BlogRecentWidget">
                        <svc:id>tag:erikzaadi.com,2010:news</svc:id>
                        <svc:title>Latest News</svc:title>
                        <svc:count>4</svc:count>
                    </svc:include>
                    <svc:include name="BlogCategoryCloudWidget">
                        <svc:id>tag:erikzaadi.com,2010:news</svc:id>
                    </svc:include>
                </svc:area>
            </svc:page>
        </collection>
        <collection href="content.atom" svc:dated="false" svc:ratingsOn="false" svc:annotationsOn="true" svc:visible="true" svc:syndicationOn="yes" svc:bloggingOn="true" svc:trackbacksOn="true">
            <atom:title>Sample Content</atom:title>
            <atom:id>tag:erikzaadi.com,2010:content</atom:id>
            <categories fixed="no">
                <atom:category term="HtmlEntities" label="Common XHTML Elements" />
                <atom:category term="PostWithComments" label="Post With Comments" />
                <atom:category term="LoremIpsum" label="Lorem Ipsum Samples" />
                <atom:category term="HomePage" label="Home Page" />
                <atom:category term="Contact" label="Contact Page" />
                <atom:category term="ForSideBar" label="Sample Side Bar Content" />
            </categories>
            <svc:page name="BlogListing">
                <svc:area name="sidemid">
                    <svc:include name="BlogCategoriesWidget">
                        <svc:id>tag:erikzaadi.com,2010:content</svc:id>
                    </svc:include>
                    <svc:include name="BlogArchiveWidget">
                        <svc:id>tag:erikzaadi.com,2010:content</svc:id>
                    </svc:include>
                    <svc:include name="BlogRecentCommentsWidget">
                        <svc:id>tag:erikzaadi.com,2010:content</svc:id>
                    </svc:include>
                    <svc:include name="BlogEntrySimpleWidget">
                        <svc:id>tag:erikzaadi.com,2010:content,ForSideBar</svc:id>
                    </svc:include>
                </svc:area>
            </svc:page>
            <svc:page name="BlogEntry">
                <svc:area name="sidemid">
                    <svc:include name="BlogRecentWidget">
                        <svc:id>tag:erikzaadi.com,2010:content</svc:id>
                        <svc:title>Latest News</svc:title>
                        <svc:count>4</svc:count>
                    </svc:include>
                    <svc:include name="BlogCategoryCloudWidget">
                        <svc:id>tag:erikzaadi.com,2010:content</svc:id>
                        <svc:count>2147483647</svc:count>
                    </svc:include>
                </svc:area>
            </svc:page>
        </collection>
        <collection href="media.atom" svc:annotationsOn="true" svc:visible="false" svc:syndicationOn="no">
            <atom:title>Media</atom:title>
            <atom:id>tag:erikzaadi.com,2010:media</atom:id>
            <accept svc:ext="gif">image/gif</accept>
            <accept svc:ext="jpg">image/jpeg</accept>
            <accept svc:ext="png">image/png</accept>
        </collection>
        <collection svc:dated="false" svc:default="true" href="themecollection.atom" svc:annotationsOn="true" svc:visible="true" svc:syndicationOn="yes" svc:bloggingOn="true" svc:trackbacksOn="true">

            <atom:id>tag:erikzaadi.com,2010:themecollection</atom:id>
            <atom:title>Themes</atom:title>
            <svc:page name="BlogEntry">
                <svc:area name="sidemid">
                    <svc:include name="BlogCategoryCloudWidget">
                        <svc:id>tag:erikzaadi.com,2010:themecollection</svc:id>
                    </svc:include>
                    <svc:include name="BlogRecentWidget">
                        <svc:id>tag:erikzaadi.com,2010:themecollection</svc:id>
                        <svc:title>Latest Themes</svc:title>
                        <svc:count>4</svc:count>
                    </svc:include>
                </svc:area>
            </svc:page>
            <svc:page name="BlogListing">
                <svc:area name="sidemid">
                    <svc:include name="BlogCategoriesWidget">
                        <svc:id>tag:erikzaadi.com,2010:themecollection</svc:id>
                    </svc:include>
                    <svc:include name="BlogArchiveWidget">
                        <svc:id>tag:erikzaadi.com,2010:themecollection</svc:id>
                    </svc:include>
                    <svc:include name="BlogRecentCommentsWidget">
                        <svc:id>tag:erikzaadi.com,2010:themecollection</svc:id>
                    </svc:include>
                </svc:area>
            </svc:page>
            <categories fixed="no">
                <atom:category term="Default Themes" />
                <atom:category term="NotYUI" />
                <atom:category term="DependsOnThemeExtensions" label="Depends On ThemeExtensions" />
            </categories>
        </collection>
        <svc:contact mode="Email" to="atomsitethemes@erikzaadi.com" host="*****" port="25" userName="*****" password="******" />
    </workspace>
    <!-- Default Site page setup, changes to this page will affect every Site page in all workspaces and their collections -->
    <svc:page name="Site" width="doc2" template="yui-t6">
        <svc:area name="nav">
            <svc:include name="MenuWidget" />
            <svc:include name="BlogSearchWidget">
                <svc:scope>workspace</svc:scope>
            </svc:include>
        </svc:area>
        <svc:area name="foot">
            <svc:include name="AccountStatusWidget" />
        </svc:area>
        <svc:area name="head">
            <svc:include name="LiteralWidget">
                &lt;link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/AtomSiteThemes" title="AtomSite Themes Feed" /&gt;
                &lt;link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/AtomSiteThemesNews" title="AtomSite Themes News Feed" /&gt;
            </svc:include>
        </svc:area>
        <svc:area name="sidebot">
            <svc:include name="LiteralWidget">
                &lt;div&gt;&lt;a title="Download Source / Fork at Github" href="http://github.com/erikzaadi/atomsitethemes.erikzaadi.com"&gt;&lt;img src="http://erikzaadi.com/media/2009/11/18/Github8.media" alt="Github"/&gt;&lt;/a&gt;
                &lt;/div&gt;
            </svc:include>
            <svc:include name="LiteralWidget">
                &lt;div&gt;
                &lt;h2&gt;RSS Feeds&lt;/h2&gt;
                &lt;a rel="alternate" href="http://feeds.feedburner.com/AtomSiteThemesNews" title="AtomSite Themes News Feed" &gt;&lt;img height="64" width="64" src="/img/default/signal.png" alt="Atom Site Theme News Feed" title="Atom Site Theme News Feed" /&gt;&lt;/a&gt;
                &lt;a rel="alternate" href="http://feeds.feedburner.com/AtomSiteThemes" title="AtomSite Themes Feed" &gt;&lt;img height="64" width="64" src="/img/default/brush.png" alt="Atom Site Themes Feed" title="Atom Site Themes Feed" /&gt;&lt;/a&gt;
                &lt;/div&gt;
            </svc:include>
            <svc:include name="LiteralWidget">
                &lt;script type="text/javascript"&gt;&lt;!--
                google_ad_client = "pub-0680628097692874";
                /* AtomSiteThemes SideBar */
                google_ad_slot = "2855988556";
                google_ad_width = 120;
                google_ad_height = 240;
                //--&gt;
                &lt;/script&gt;
                &lt;script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js"&gt;
                &lt;/script&gt;
            </svc:include>
        </svc:area>
        <svc:area name="none">
            <svc:include name="GA4AtomSiteWidget" GoogleAccountID="UA-8728177-5" />
        </svc:area>
        <svc:area name="tail">
            <svc:include name="ThemeSwitcherWidget" />
        </svc:area>
        <svc:area name="bottomcola1">
            <svc:include name="BlogRecentWidget">
                <svc:id>tag:erikzaadi.com,2010:news</svc:id>
                <svc:count>6</svc:count>
                <svc:title>Latest News</svc:title>
            </svc:include>
        </svc:area>
        <svc:area name="bottomcola2">
            <svc:include name="BlogCategoriesWidget">
                <svc:id>tag:erikzaadi.com,2010:themecollection</svc:id>
            </svc:include>
        </svc:area>
        <svc:area name="bottomcola3">
            <svc:include name="BlogCategoriesWidget">
                <svc:id>tag:erikzaadi.com,2010:news</svc:id>
            </svc:include>
        </svc:area>
        <svc:area name="bottomcolb">
            <svc:include name="BlogRecentWidget">
                <svc:id>tag:erikzaadi.com,2010:themecollection</svc:id>
                <svc:count>6</svc:count>
                <svc:title>Latest Themes</svc:title>
            </svc:include>
        </svc:area>
    </svc:page>
    <svc:page name="AtomPubResource">
        <svc:area name="content">
            <svc:include name="AnnotateListWidget" />
        </svc:area>
    </svc:page>
    <svc:page name="BlogHome">
        <svc:area name="content">
            <svc:include name="BlogEntrySimpleWidget">
                <svc:id>tag:erikzaadi.com,2009:content,Home</svc:id>
            </svc:include>
        </svc:area>
        <svc:area name="sidemid">
            <svc:include name="BlogRecentWidget">
                <svc:id>tag:erikzaadi.com,2010:themecollection</svc:id>
                <svc:count>6</svc:count>
                <svc:title>Latest Themes</svc:title>
            </svc:include>
            <svc:include name="BlogRecentWidget">
                <svc:id>tag:erikzaadi.com,2010:news</svc:id>
                <svc:count>6</svc:count>
                <svc:title>Latest News</svc:title>
            </svc:include>
            <svc:include name="TwitterWidget" username="tweetnorris" />
        </svc:area>
    </svc:page>
    <svc:page name="BlogEntry">
        <svc:area name="sidetop">
            <svc:include name="RaterWidget" />
        </svc:area>
        <svc:area name="sidemid" />
        <svc:area name="content">
            <svc:include name="BlogCommentsWidget" />
            <svc:include name="BlogAddCommentWidget" />
        </svc:area>
        <svc:area name="tail">
            <svc:include name="BlogTrackbackWidget" />
        </svc:area>
    </svc:page>
    <svc:page name="BlogListing">
        <svc:area name="sidemid" />
    </svc:page>
    <svc:page name="AdminDashboard">
        <svc:area name="dashboardLeft">
            <svc:include name="AdminRightNowWidget" />
            <svc:include name="AdminRecentAnnotationsWidget" />
        </svc:area>
        <svc:area name="dashboardRight">
            <svc:include name="AdminQuickPubWidget" />
            <svc:include name="AdminPendingEntriesWidget" />
        </svc:area>
    </svc:page>
    <svc:page name="AdminSettingsEntireSite">
        <svc:area name="settingsLeft">
            <svc:include name="AdminWorkspacesWidget" />
        </svc:area>
        <svc:area name="settingsRight">
            <svc:include name="AdminAdministratorsWidget" />
        </svc:area>
        <svc:area name="settingsTabs">
            <svc:include name="LiteralWidget">&lt;li&gt;&lt;a href="#blogSettings"&gt;Blog Settings&lt;/a&gt;&lt;/li&gt;</svc:include>
        </svc:area>
        <svc:area name="settingsPanes">
            <svc:include name="BlogSettingsEntireSiteWidget" />
        </svc:area>
    </svc:page>
    <svc:page name="AdminSettingsWorkspace">
        <svc:area name="settingsLeft">
            <svc:include name="AdminCollectionsWidget" />
        </svc:area>
        <svc:area name="settingsRight">
            <svc:include name="AdminPeopleWidget" />
        </svc:area>
        <svc:area name="settingsTabs">
            <svc:include name="LiteralWidget">&lt;li&gt;&lt;a href="#contactSettings"&gt;Contact Settings&lt;/a&gt;&lt;/li&gt;</svc:include>
        </svc:area>
        <svc:area name="settingsPanes">
            <svc:include name="ContactSettingsWidget" />
        </svc:area>
    </svc:page>
    <svc:page name="AdminSettingsCollection">
        <svc:area name="settingsLeft">
            <svc:include name="AdminAcceptsWidget" />
        </svc:area>
        <svc:area name="settingsMiddle">
            <svc:include name="AdminCategoriesWidget" />
        </svc:area>
        <svc:area name="settingsRight">
            <svc:include name="AdminPeopleWidget" />
        </svc:area>
        <svc:area name="settingsTabs">
            <svc:include name="LiteralWidget">&lt;li&gt;&lt;a href="#blogSettings"&gt;Blog Settings&lt;/a&gt;&lt;/li&gt;</svc:include>
        </svc:area>
        <svc:area name="settingsPanes">
            <svc:include name="BlogSettingsWidget" />
        </svc:area>
    </svc:page>
    <svc:page name="AdminEditEntry">
        <svc:area name="editEntryContent">
            <svc:include name="AdminCKEditorWidget" />
        </svc:area>
    </svc:page>
    <svc:page name="WizardSetupChoice">
        <svc:area name="setupOptions">
            <svc:include name="BlogMLWizardChoiceWidget" />
        </svc:area>
    </svc:page>
    <svc:page name="AdminTools">
        <svc:area name="toolsImport">
            <svc:include name="BlogMLImportToolWidget" />
        </svc:area>
        <svc:area name="toolsExport">
            <svc:include name="BlogMLExportToolWidget" />
        </svc:area>
    </svc:page>
    <svc:page name="AccountLogin">
        <svc:area name="content">
            <svc:include name="OpenIdLoginWidget" />
        </svc:area>
    </svc:page>
    <!-- Other pages/widgets can be customized here -->
    <svc:plugin type="AtomSite.Plugins.OpenIdPlugin.OpenIdPlugin, AtomSite.Plugins.OpenIdPlugin, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null" merit="0" status="Enabled" />
    <svc:plugin type="AtomSite.WebCore.AssetPlugin, AtomSite.WebCore, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null" merit="2147483647" status="Enabled" />
    <svc:plugin type="AtomSite.WebCore.WizardPlugin, AtomSite.WebCore, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null" merit="2147483647" status="Disabled" />
    <svc:plugin type="AtomSite.WebCore.AdminPlugin, AtomSite.WebCore, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null" merit="100030" status="Enabled" />
    <svc:plugin type="AtomSite.WebCore.BlogPlugin, AtomSite.WebCore, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null" merit="100020" status="Enabled" />
    <svc:plugin type="AtomSite.WebCore.AtomPubPlugin, AtomSite.WebCore, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null" merit="100000" status="Enabled" />
    <svc:plugin type="AtomSite.WebCore.AnnotatePlugin, AtomSite.WebCore, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null" merit="99990" status="Enabled" />
    <svc:plugin type="AtomSite.WebCore.AccountPlugin, AtomSite.WebCore, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null" merit="99980" status="Enabled" />
    <svc:plugin type="AtomSite.Plugins.BlogMLPlugin.BlogMLPlugin, AtomSite.Plugins.BlogMLPlugin, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null" merit="0" status="Enabled" />
    <svc:plugin type="AtomSite.Plugins.TwitterPlugin.TwitterPlugin, AtomSite.Plugins.TwitterPlugin, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null" merit="0" status="Enabled" />
    <svc:plugin type="AtomSite.WebCore.WidgetPlugin, AtomSite.WebCore, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null" merit="0" status="Enabled" />
    <svc:plugin type="AtomSite.WebCore.ContactPlugin, AtomSite.WebCore, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null" merit="0" status="Enabled" />
    <svc:plugin type="AtomSite.WebCore.MenuPlugin, AtomSite.WebCore, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null" merit="0" status="Enabled" />
    <svc:plugin type="AtomSite.Plugins.Rater.RaterPlugin, AtomSite.WebCore, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null" merit="0" status="Enabled" />
    <svc:plugin type="AtomSite.WebCore.plugins.ThemeSwitcher.ThemeSwitcherPlugin, AtomSite.WebCore, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null" merit="0" status="Enabled" />
    <svc:plugin type="GA4AtomSite.GA4AtomSitePlugin, GA4AtomSite, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null" merit="0" status="Enabled" />
    <svc:plugin type="WLWWorkaround.WLWWorkaroundPlugin, WLWWorkaround, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null" merit="0" status="Enabled" />
    <svc:plugin type="AdditionalWidgets.AdditionalWidgetsPlugin, AdditionalWidgets, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" merit="0" status="Enabled" />
    <svc:widget name="BlogAddCommentWidget">
        <svc:area name="commentator">
            <svc:include name="OpenIdModalWidget" />
        </svc:area>
    </svc:widget>
</service>