<?xml version="1.0" encoding="utf-8"?>
<users xmlns="http://atomsite.net/info/Service">
    <user name="KristinV">
        <id>KristinV</id>
        <id>http://kristinv.com/</id>
        <email>kdmvance@gmail.com</email>
    </user>
    <user name="JarrettV">
        <id>JarrettV</id>
        <id>http://jvance.com/</id>
        <id>http://jarrettv.myopenid.com/</id>
        <email>jarrettv@gmail.com</email>
        <uri>http://jvance.com</uri>
    </user>
    <user name="Erik Zaadi">
        <email>erik.zaadi@gmail.com</email>
        <id>erikzaadi</id>
        <id>http://erikzaadi.myopenid.com/</id>
        <uri>http://erikzaadi.com/</uri>
    </user>
</users>