<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AtomSite.Repository.Properties.Settings.BlogSvcConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=BlogSvc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>