/* Copyright 2008-10 Jarrett Vance
* see http://www.codeplex.com/blogsvc/license */
#AdminTheme select {width:90%; height: 300px}
#AdminTheme button[name=submit] {margin: 1em 0.5em}
#AdminTheme .right {float:right;}
#AdminTheme .choose {min-height: 30em;}
#AdminTheme .choose .tabs {margin:0.4em 0.3em; text-align:center}
#AdminTheme .choose li {display:block;list-style-type:none; margin:0;padding:0.5em;border-top:solid 1px #dfdfdf; cursor:pointer}
#AdminTheme .choose li.current {background: transparent url('../../img/default/check.png') no-repeat right center;}
#AdminTheme .choose li.selected { background-color: #EAF2FA; }
#AdminTheme .choose ul {padding:0; margin:0;}
#AdminTheme h3 em {margin-left:1em;text-transform:uppercase; font-size:75%; font-weight:bold;}
#AdminTheme h3 em.active {color:Green}
#AdminTheme h3 em.inherited {color:#a90000}

#meta {background: #eee; line-height:135%; font-weight:bold;color:#606060; -moz-border-radius: 6px;
	-khtml-border-radius: 6px;-webkit-border-radius: 6px; margin:0 0 2%;}
#meta td {border-style:none;}
	
.themePreview img {width: 220px; padding:10px 10px 0 10px}
.themePreview {text-align:center}
.themePreview a {margin-bottom:5px}

.theme .rating {float:right;margin-top:-10px}

#themeWidths {float:left; width:54px;}
#themeTemplates {float:left; width:52px; margin:0 3%}
#themeWidths img, #themeTemplates img {padding:0 0 3% 0}
.theme .stat {margin:0 0 3% 0}
.theme #updated {margin:0;}
.theme .meta td {border:0;}
.theme .content {margin-top:2%}
.theme .button {margin: 0 1em}
.theme .info dt {float:left; width:28%}